@page "/Game"
@attribute [StreamRendering(true)]
@inject IGameServices GameService
@inject NavigationManager NavManager
@rendermode InteractiveServer

<h3>GameList</h3>

@if(games==null)
{
    <span>loading...</span>
}
else if(games.Count==0)
{
    <span>no game Found</span>
}
else
{
    <ul>
       @foreach(var gamelist in games)
       {
            <li>Game name @gamelist.GameName</li>
       }
    </ul>
}

<button @onclick="CreateGame" class="btn btn-primary">Create Game</button>
@code {
    List<Game>? games = new List<Game>();
    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }
    public void CreateGame()
    {
        NavManager.NavigateTo("/edit-game",true);
    }
}
