@page "/Game"
@attribute [StreamRendering(true)]
@inject IGameServices GameService


<h3>GameList</h3>

@if(games==null)
{
    <span>loading...</span>
}
else if(games.Count==0)
{
    <span>no game Found</span>
}
else
{
    <ul>
       @foreach(var gamelist in games)
       {
            <li>Game name @gamelist.GameName</li>
       }
    </ul>
}

<CreateGameButton></CreateGameButton>
@code {
    List<Game>? games = new List<Game>();
    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }
    
}
